@mixin desktop {
    @media desktop {
        max-width: 1440px;
    }
}

@mixin tablet {
    @media tablet {
        max-width: 768px;
    }
}

@mixin mobile {
    @media mobile {
        max-width: 320px;
    }
}