
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $dark;
    color: $alabaster;
    &__container {
        width: 56rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        font: $h4-desktop-para;
        line-height: $h4-desktop-para-line;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }
    &__contact-heading{
        font: $h1-desktop-header;
    }
    &__logo {
        display: flex;
        flex-direction: row;
        position: relative;
        top: -10rem;
        right: -1rem;
    }
    &__img {
        margin-right: 2rem;
        margin-bottom: 2.4rem;
    }
    &__copyright {
        width: 56rem;
        margin-left: auto;
        margin-right: auto;
    }
    @include tablet {
        .footer {
            width: 45rem;
        }
        .footer__container {
            width: 45rem;
        }
        .footer__logo {
            position: relative;
            left: -7rem;
             top: -15rem;
        }
        .footer__copyright {
            width: 45rem;
        }
        .footer__img {
           position: relative;
           right: -2rem;
        }
    }
}