// RETURN HERE TO FIX POSITIONING
.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__inner-container {
        width: 100;
        align-self: center;
    }
    &__photos-section {
        width: 67.25rem;
        flex-wrap: wrap;
        
    }
    &__photos {
        width: 19rem;
        height: 10rem;
    }

}