.hero {
    width: 100%;
    height: 41.875rem;
    background-image: url(../assets/images/concert-1.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    &__headline {
        width: 30rem;
        font: $h1-desktop-hero;
        line-height: $h1-desktop-hero-line;
        color: $alabaster;  
        margin-left: 11.25rem;
    }
}