@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url(../../assets/font/avenirregular.otf);
}
@font-face {
  font-family: avenirdemi;
  src: url(../../assets/font/avenirdemi.otf);
}
@font-face {
  font-family: avenirbold;
  src: url(../../assets/font/avenirbold.otf);
}

