// H1 - Hero Header 
$h1-desktop-hero: 3.75rem bold;
// H1 - Hero Header  Line height
$h1-desktop-hero-line: 4.25rem;

// H1 - Header
$h1-desktop-header: 2.25rem bold;
// H1 - Header  Line height
$h1-desktop-header-line: 2.75rem;

// H2 - Header 
$h2-desktop-header: 1.50rem bold;
// H2 - Header  Line height
$h2-desktop-header-line: 2rem;

// H3 - Header
$h3-desktop-subheader: 1rem bold;
// H3 - Header  Line height
$h3-desktop-subheader-line: 1.50rem;

// H4 - Header 
$h4-desktop-para: 0.88rem;
// H4 - Header  Line height
$h4-desktop-para-line: 1.38rem;

// H4 - Header
$h4-desktop-lists: 0.88rem;
// H4 - Header  Line height
$h4-desktop-lists-line: 1.25rem;

// H5 - Header
$h5-desktop-labels: 0.75rem;
// H5 - Header  Line height
$h5-desktop-labels-line: 1.25rem;
/* -------------- END OF DESK TOP SIZE VARIABLES ------------- */



/* -------------- BEGINNING OF MOBILE VARIABLES ------------- */









/* ------------ COLOUR VARIABLES -----------*/
$dark: #323232;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$white: #ffffff;
